body {
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  text-align: center;
  font-family: 'Zen Old Mincho', serif;
  color: #000;
  font-size: 40px;
  margin-bottom: 10px;
}

.title-stroke{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color: orangered;
}
